body {
  font-family: 'Montserrat', sans-serif;
}

body.modal-open {
  overflow: hidden;       /* Prevent background scroll when modal is open */
}

/* Fade background */
.modal-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

/* Scale animation only for content */
.modal-content {
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.modal-visible .modal-content {
  transform: scale(1);
  opacity: 1;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
